body{

	>header{
		padding:10px 0;
		background:#f0f2f1;
		> .content{
			@include make-row;
			> #accessibility{
				padding-left: 5%;
				display: block !important;
				float: right;
				width: 100%;
				font-size: 0.88em;
				border-bottom: 0.0625em dotted #d5d5d5;
				> li{
					display: inline;
					> a{
						text-decoration: none;
						color:#2b2e2e;
						font-family: "open_sanssemibold", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
						> span{
							padding: 0 4px 0 4px;
							background: #d5d5d5;
							color: #30ADE2;
						}
					}
				}
			}
			
			
			> .logo-container{
				@include make-xs-column(12);
				@include make-md-column(3);
				@include make-sm-column(4);

				> .logo-container__logo{
					margin-right: 10%;
					margin-left: 10%;
					width:80%;
				}
			} 
		}
	}
	> #navegation{
		background:#30ADE2;
		> .container{
			#navegation__content{
				@include make-md-column(12);
				.navbar{
					border-radius:none;
					box-shadow: none;
					border:none; 
					background:#30ADE2;
					margin-bottom: 0;
					.navbar-collapse{
						border:none;
						>ul.navbar-nav{
							>li{
								&.active{
									>a{
										background:#f0f2f1;
									}
								}
								a{
									color:#2B2E2E;
									font: bold 14px;
									&:hover{
										background:#f0f2f1;
										border-color:#090909;
										font:16px;
									}
									
								}
								&:visited{
										color:#EEEEE;
									}

							}

						}
					}
				}
			}
		}
	}
}