@media (max-width: 480px) {
    h1 {
        font-size: 32px;
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: 48px;
    }
}

html,
body {
    height: 100%;
    margin:0;
    padding:0;
}

h1 {
    font-family: 'Oxygen', cursive;
    color: #ffffFF;
    padding:0;
    margin:0;
    margin-bottom:8px;
    margin-top:8px;
}

body {
    background-color: transparent;
    background: url("imagens/background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.embed-responsive-item {
    max-width: 1280px;
}

.highlight {
    font-size: 18px;
    font-family: 'Pontano Sans', cursive;
    color: #ffffFF;
    background-color: #000000;
}

.nopadding {
    padding:0;
}